@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #1c2123;
}

.swiper {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #dce1e2;
  border-radius: 30px;
  padding: 30px 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #1c2123;
}

.swiper-pagination-bullet {
  color: #1c2123;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #1c2123;
}

.swiper-pagination-bullet-active {
  background-color: #dce1e2 !important;
}

.swiper-pagination-bullet {
    background-color: #dce1e2 !important;
    border: 2px solid #5c5e5f !important;
}